<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Quora Posts</h1>
    
      <%for(post of posts){%>
        <div class="pos">
        <div class="post">
      <h3 class="user">@<%=post.username%></h3>
      <h4 class="content"><%=post.content%></h4>
    </div>
    <a class="anch1" href="http://localhost:8080/posts/<%=post.id%>">Post Detailed view</a>&nbsp;&nbsp;&nbsp;&nbsp;
   <a class="anch1"href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a><br>
    <form method="POST" action="/posts/<%=post.id%>?_method=DELETE">
    <br><br><button class="btn1">Delete</button>
    </form><br>
  </div>
    <%}%>
   <button class="btn"><a href="http://localhost:8080/posts/new" class="ancher">Create new post</a></button> 
</body>
</html>